In [1]:
import pandas as pd

from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base

from db import engine

import os

Base de données bronze supprimée.
Pas de base de données argent.
2022-12-10 13:41:25,981 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-10 13:41:25,982 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Pays")
2022-12-10 13:41:25,983 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-10 13:41:25,984 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("Pays")
2022-12-10 13:41:25,985 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-10 13:41:25,986 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Restaurant")
2022-12-10 13:41:25,987 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-10 13:41:25,988 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("Restaurant")
2022-12-10 13:41:25,989 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-10 13:41:25,990 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Employee")
2022-12-10 13:41:25,990 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-10 13:41:25,991 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("Employee")
2022-12-10 13:41:25,992 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-10 13:41:25,994 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Rib")
2022-12-10 13:41:25,994 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-10 13:41:25,995 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("Rib")
2022-12-10 13:41:25,996 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-10 13:41:25,997 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Paie")
2022-12-10 13:41:25,997 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-10 13:41:25,999 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("Paie")
2022-12-10 13:41:26,000 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-10 13:41:26,000 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("CarteMenu")
2022-12-10 13:41:26,001 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-10 13:41:26,003 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("CarteMenu")
2022-12-10 13:41:26,003 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-10 13:41:26,004 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Menu")
2022-12-10 13:41:26,005 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-10 13:41:26,012 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("Menu")
2022-12-10 13:41:26,013 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-10 13:41:26,016 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Item")
2022-12-10 13:41:26,016 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-10 13:41:26,017 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("Item")
2022-12-10 13:41:26,018 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-10 13:41:26,019 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("CarteItem")
2022-12-10 13:41:26,019 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-10 13:41:26,021 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("CarteItem")
2022-12-10 13:41:26,022 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-10 13:41:26,023 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("PanierMenu")
2022-12-10 13:41:26,023 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-10 13:41:26,024 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("PanierMenu")
2022-12-10 13:41:26,027 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-10 13:41:26,028 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("PanierItem")
2022-12-10 13:41:26,029 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-10 13:41:26,030 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("PanierItem")
2022-12-10 13:41:26,031 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-10 13:41:26,032 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Bill")
2022-12-10 13:41:26,033 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-10 13:41:26,034 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("Bill")
2022-12-10 13:41:26,035 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-10 13:41:26,036 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Recette")
2022-12-10 13:41:26,036 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-10 13:41:26,038 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("Recette")
2022-12-10 13:41:26,039 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-10 13:41:26,040 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Ingredient")
2022-12-10 13:41:26,041 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-10 13:41:26,042 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("Ingredient")
2022-12-10 13:41:26,043 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-10 13:41:26,045 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Stock")
2022-12-10 13:41:26,045 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-10 13:41:26,046 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("Stock")
2022-12-10 13:41:26,047 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-10 13:41:26,049 INFO sqlalchemy.engine.Engine
CREATE TABLE "Pays" (
	pays VARCHAR(255) NOT NULL,
	PRIMARY KEY (pays)
)


2022-12-10 13:41:26,049 INFO sqlalchemy.engine.Engine [no key 0.00069s] ()
2022-12-10 13:41:26,056 INFO sqlalchemy.engine.Engine
CREATE TABLE "Item" (
	nom_item VARCHAR NOT NULL,
	type VARCHAR NOT NULL,
	prix FLOAT NOT NULL,
	PRIMARY KEY (nom_item)
)


2022-12-10 13:41:26,057 INFO sqlalchemy.engine.Engine [no key 0.00114s] ()
2022-12-10 13:41:26,063 INFO sqlalchemy.engine.Engine
CREATE TABLE "Ingredient" (
	ingredient VARCHAR NOT NULL,
	prix FLOAT NOT NULL,
	PRIMARY KEY (ingredient)
)


2022-12-10 13:41:26,064 INFO sqlalchemy.engine.Engine [no key 0.00083s] ()
2022-12-10 13:41:26,069 INFO sqlalchemy.engine.Engine
CREATE TABLE "Restaurant" (
	code_postal VARCHAR(255) NOT NULL,
	pays VARCHAR(255),
	capacite INTEGER,
	espace_enfant INTEGER,
	service_rapide INTEGER,
	parking INTEGER,
	accessibilite INTEGER,
	PRIMARY KEY (code_postal),
	FOREIGN KEY(pays) REFERENCES "Pays" (pays)
)


2022-12-10 13:41:26,070 INFO sqlalchemy.engine.Engine [no key 0.00084s] ()
2022-12-10 13:41:26,076 INFO sqlalchemy.engine.Engine
CREATE TABLE "Menu" (
	id_menu INTEGER NOT NULL,
	boisson VARCHAR NOT NULL,
	plat VARCHAR NOT NULL,
	dessert VARCHAR NOT NULL,
	prix FLOAT NOT NULL,
	PRIMARY KEY (id_menu),
	FOREIGN KEY(boisson) REFERENCES "Item" (nom_item),
	FOREIGN KEY(plat) REFERENCES "Item" (nom_item),
	FOREIGN KEY(dessert) REFERENCES "Item" (nom_item)
)


2022-12-10 13:41:26,077 INFO sqlalchemy.engine.Engine [no key 0.00080s] ()
2022-12-10 13:41:26,083 INFO sqlalchemy.engine.Engine
CREATE TABLE "CarteItem" (
	pays INTEGER NOT NULL,
	id_item INTEGER NOT NULL,
	PRIMARY KEY (pays, id_item),
	FOREIGN KEY(pays) REFERENCES "Pays" (pays),
	FOREIGN KEY(id_item) REFERENCES "Item" (nom_item)
)


2022-12-10 13:41:26,083 INFO sqlalchemy.engine.Engine [no key 0.00081s] ()
2022-12-10 13:41:26,089 INFO sqlalchemy.engine.Engine
CREATE TABLE "Recette" (
	nom_item VARCHAR NOT NULL,
	ingredient VARCHAR NOT NULL,
	"quantité" INTEGER NOT NULL,
	PRIMARY KEY (nom_item, ingredient),
	FOREIGN KEY(nom_item) REFERENCES "Item" (nom_item),
	FOREIGN KEY(ingredient) REFERENCES "Ingredient" (ingredient)
)


2022-12-10 13:41:26,090 INFO sqlalchemy.engine.Engine [no key 0.00106s] ()
2022-12-10 13:41:26,097 INFO sqlalchemy.engine.Engine
CREATE TABLE "Employee" (
	id_employee INTEGER NOT NULL,
	code_postal VARCHAR(200),
	poste VARCHAR(200) NOT NULL,
	nom VARCHAR(200) NOT NULL,
	adresse VARCHAR(200) NOT NULL,
	note INTEGER,
	experience DATETIME,
	PRIMARY KEY (id_employee),
	FOREIGN KEY(code_postal) REFERENCES "Restaurant" (code_postal)
)


2022-12-10 13:41:26,098 INFO sqlalchemy.engine.Engine [no key 0.00072s] ()
2022-12-10 13:41:26,103 INFO sqlalchemy.engine.Engine
CREATE TABLE "CarteMenu" (
	pays INTEGER NOT NULL,
	id_menu INTEGER NOT NULL,
	PRIMARY KEY (pays, id_menu),
	FOREIGN KEY(pays) REFERENCES "Pays" (pays),
	FOREIGN KEY(id_menu) REFERENCES "Menu" (id_menu)
)


2022-12-10 13:41:26,104 INFO sqlalchemy.engine.Engine [no key 0.00077s] ()
2022-12-10 13:41:26,109 INFO sqlalchemy.engine.Engine
CREATE TABLE "Stock" (
	ingredient VARCHAR NOT NULL,
	code_postal VARCHAR NOT NULL,
	"quantité" INTEGER,
	PRIMARY KEY (ingredient, code_postal),
	FOREIGN KEY(ingredient) REFERENCES "Ingredient" (ingredient),
	FOREIGN KEY(code_postal) REFERENCES "Restaurant" (code_postal)
)


2022-12-10 13:41:26,110 INFO sqlalchemy.engine.Engine [no key 0.00059s] ()
2022-12-10 13:41:26,115 INFO sqlalchemy.engine.Engine
CREATE TABLE "Rib" (
	id_employee INTEGER NOT NULL,
	iban VARCHAR(255) NOT NULL,
	bic VARCHAR NOT NULL,
	"propriètaire" VARCHAR NOT NULL,
	adresse VARCHAR NOT NULL,
	PRIMARY KEY (id_employee),
	FOREIGN KEY(id_employee) REFERENCES "Employee" (id_employee)
)


2022-12-10 13:41:26,116 INFO sqlalchemy.engine.Engine [no key 0.00077s] ()
2022-12-10 13:41:26,121 INFO sqlalchemy.engine.Engine
CREATE TABLE "Paie" (
	id_employee INTEGER NOT NULL,
	date VARCHAR NOT NULL,
	salaire_net FLOAT NOT NULL,
	PRIMARY KEY (id_employee),
	FOREIGN KEY(id_employee) REFERENCES "Employee" (id_employee)
)


2022-12-10 13:41:26,122 INFO sqlalchemy.engine.Engine [no key 0.00077s] ()
2022-12-10 13:41:26,128 INFO sqlalchemy.engine.Engine
CREATE TABLE "Bill" (
	id_bill INTEGER NOT NULL,
	code_postal VARCHAR(255) NOT NULL,
	id_vendeur INTEGER NOT NULL,
	born INTEGER NOT NULL,
	moyen_paiment VARCHAR NOT NULL,
	prix_total FLOAT NOT NULL,
	PRIMARY KEY (id_bill),
	FOREIGN KEY(code_postal) REFERENCES "Restaurant" (code_postal),
	FOREIGN KEY(id_vendeur) REFERENCES "Employee" (id_employee)
)


2022-12-10 13:41:26,129 INFO sqlalchemy.engine.Engine [no key 0.00061s] ()
2022-12-10 13:41:26,134 INFO sqlalchemy.engine.Engine
CREATE TABLE "PanierMenu" (
	id_bill INTEGER NOT NULL,
	id_menu INTEGER NOT NULL,
	"quantité" FLOAT NOT NULL,
	PRIMARY KEY (id_bill),
	FOREIGN KEY(id_bill) REFERENCES "Bill" (id_bill),
	FOREIGN KEY(id_menu) REFERENCES "Menu" (id_menu)
)


2022-12-10 13:41:26,134 INFO sqlalchemy.engine.Engine [no key 0.00072s] ()
2022-12-10 13:41:26,141 INFO sqlalchemy.engine.Engine
CREATE TABLE "PanierItem" (
	nom_item VARCHAR NOT NULL,
	id_bill INTEGER NOT NULL,
	"quantité" FLOAT NOT NULL,
	PRIMARY KEY (nom_item),
	FOREIGN KEY(nom_item) REFERENCES "Item" (nom_item),
	FOREIGN KEY(id_bill) REFERENCES "Bill" (id_bill)
)


2022-12-10 13:41:26,141 INFO sqlalchemy.engine.Engine [no key 0.00067s] ()
2022-12-10 13:41:26,146 INFO sqlalchemy.engine.Engine COMMIT

In [3]:
os.execfile('peuple.py')

AttributeError: module 'os' has no attribute 'execfile'

### Question 1

In [ ]:
try:
    os.remove("db/db_argent.sqlite")
    print('Base de données argent supprimée.')
except:
    print('Pas de base de données argent.')

In [ ]:
base = declarative_base()
engine_argent = create_engine("sqlite:///db/db_argent.sqlite", echo=False)
metadata = MetaData()
metadata.create_all(engine_argent)

In [ ]:
employees = pd.io.sql.read_sql("select resto.pays, substr(resto.code_postal , 0, 3) as code_postal, count(employe.nom) from 'Restaurant' as resto join 'Pays' as pays on resto.pays=pays.pays join 'Employee' as employe on employe.code_postal=resto.code_postal group by pays.pays, employe.code_postal", con=engine)

employees

In [ ]:
employees.to_sql(name='EmployePays', con=engine_argent, if_exists = 'replace', index=False)

### Question 2

In [ ]:
menu = pd.io.sql.read_sql("select distinct resto.pays, resto.code_postal, count(id_item), ingredient.ingredient from 'Restaurant' as resto join 'Pays' as pays on resto.pays=pays.pays join 'CarteItem' as carte_item on resto.pays=carte_item.pays join 'Item' as item on carte_item.id_item=item.nom_item join 'Recette' as recette on item.nom_item=recette.nom_item join 'Ingredient' as ingredient on recette.ingredient=ingredient.ingredient group by id_item order by count(id_item) desc", con=engine)

menu