# CRÉATION D'UNE BASE DE DONNÉES ALÉATOIRE SUR LES RESTAURANTS

In [1]:
import pandas as pd
import random as rd
import datetime

from db import engine

2022-12-08 13:44:37,580 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-08 13:44:37,581 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Pays")
2022-12-08 13:44:37,582 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-08 13:44:37,583 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Restaurant")
2022-12-08 13:44:37,583 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-08 13:44:37,585 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Employee")
2022-12-08 13:44:37,585 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-08 13:44:37,587 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Rib")
2022-12-08 13:44:37,588 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-08 13:44:37,589 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Paie")
2022-12-08 13:44:37,590 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-08 13:44:37,591 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("CarteMenu")
2022-12-08 13:44:37,592 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-08 13:44:37,593 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Menu")
2022-12-08 13:44:37,594 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-08 13:44:37,595 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Item")
2022-12-08 13:44:37,596 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-08 13:44:37,597 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("CarteItem")
2022-12-08 13:44:37,598 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-08 13:44:37,599 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("PanierMenu")
2022-12-08 13:44:37,599 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-08 13:44:37,601 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("PanierItem")
2022-12-08 13:44:37,601 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-08 13:44:37,603 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Bill")
2022-12-08 13:44:37,603 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-08 13:44:37,605 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Recette")
2022-12-08 13:44:37,606 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-08 13:44:37,607 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Ingredient")
2022-12-08 13:44:37,607 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-08 13:44:37,609 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Stock")
2022-12-08 13:44:37,609 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-08 13:44:37,611 INFO sqlalchemy.engine.Engine COMMIT

## RESTAURANTS

In [2]:
df_resto = pd.read_csv("data_resto.csv")

df_resto

,code_postal,pays,capacite,espace_enfant,service_rapide,parking,accessibilite
0,24-13,United States,247,No,No,No,Yes
1,G27 7HT,South Africa,96,Yes,Yes,No,No
2,7443 YD,Colombia,68,Yes,No,Yes,Yes
3,93956-418,Vietnam,181,No,No,Yes,Yes
4,977145,Italy,75,No,No,No,No
...,...,...,...,...,...,...,...
245,183227,Turkey,126,No,Yes,Yes,No
246,8563,Germany,135,Yes,Yes,Yes,Yes
247,21354,Italy,63,No,No,No,No
248,4460,Pakistan,135,Yes,No,Yes,Yes
249,7363,Peru,198,Yes,Yes,Yes,Yes

In [3]:
df_resto["espace_enfant"] = df_resto["espace_enfant"].apply(lambda x: 1 if x == "Yes" else x)
df_resto["espace_enfant"] = df_resto["espace_enfant"].apply(lambda x: 0 if x == "No" else x)

df_resto["service_rapide"] = df_resto["service_rapide"].apply(lambda x: 1 if x == "Yes" else x)
df_resto["service_rapide"] = df_resto["service_rapide"].apply(lambda x: 0 if x == "No" else x)

df_resto["parking"] = df_resto["parking"].apply(lambda x: 1 if x == "Yes" else x)
df_resto["parking"] = df_resto["parking"].apply(lambda x: 0 if x == "No" else x)

df_resto["accessibilite"] = df_resto["accessibilite"].apply(lambda x: 1 if x == "Yes" else x)
df_resto["accessibilite"] = df_resto["accessibilite"].apply(lambda x: 0 if x == "No" else x)

df_resto

,code_postal,pays,capacite,espace_enfant,service_rapide,parking,accessibilite
0,24-13,United States,247,0,0,0,1
1,G27 7HT,South Africa,96,1,1,0,0
2,7443 YD,Colombia,68,1,0,1,1
3,93956-418,Vietnam,181,0,0,1,1
4,977145,Italy,75,0,0,0,0
...,...,...,...,...,...,...,...
245,183227,Turkey,126,0,1,1,0
246,8563,Germany,135,1,1,1,1
247,21354,Italy,63,0,0,0,0
248,4460,Pakistan,135,1,0,1,1
249,7363,Peru,198,1,1,1,1

In [4]:
df_resto.groupby("pays").count()

,code_postal,capacite,espace_enfant,service_rapide,parking,accessibilite
pays,,,,,,
Australia,7,7,7,7,7,7
Austria,5,5,5,5,5,5
Belgium,9,9,9,9,9,9
Brazil,9,9,9,9,9,9
Canada,5,5,5,5,5,5
Chile,7,7,7,7,7,7
China,13,13,13,13,13,13
Colombia,5,5,5,5,5,5
Costa Rica,6,6,6,6,6,6
France,9,9,9,9,9,9
Germany,7,7,7,7,7,7
India,7,7,7,7,7,7
Indonesia,4,4,4,4,4,4
Ireland,7,7,7,7,7,7
Italy,9,9,9,9,9,9
Mexico,4,4,4,4,4,4
Netherlands,5,5,5,5,5,5
New Zealand,9,9,9,9,9,9
Nigeria,5,5,5,5,5,5
Norway,11,11,11,11,11,11
Pakistan,10,10,10,10,10,10
Peru,9,9,9,9,9,9
Philippines,7,7,7,7,7,7
Poland,10,10,10,10,10,10
Russian Federation,4,4,4,4,4,4
Singapore,6,6,6,6,6,6
South Africa,5,5,5,5,5,5
South Korea,5,5,5,5,5,5
Spain,11,11,11,11,11,11
Turkey,5,5,5,5,5,5
Ukraine,6,6,6,6,6,6
United Kingdom,8,8,8,8,8,8
United States,6,6,6,6,6,6
Vietnam,15,15,15,15,15,15

In [5]:
df_resto["pays"].nunique()

34

## EMPLOYÉS

##### Création de la liste des employés.

In [6]:
code_postal = df_resto["code_postal"].unique()

code_postal

array(['24-13', 'G27 7HT', '7443 YD', '93956-418', '977145', '29552',
       '45331', '18345', '85-710', '8876 JU', '164486', '547166',
       '327537', '3348', '9318', '762070', '53782', '0381', '244443',
       'WV2H 3LD', '153293', '3004', '791811', '253842', '2518', '95865',
       '37815', '362232', '656964', '54-74', '8235', '20284', '1782',
       '171674', '788735', 'L17 8DW', '25655', '73873', '11111', '48617',
       '22751', '50211', 'YR9V 4GY', '14958', '1943 QJ', '52104',
       '65814-592', '25874', '8323', '58352', '06-728', '6162-4288',
       '741637', '221896', '138261', '42074', '41-681', '569842', '27451',
       '37348978', '236181', '8584', '452654', '604113', '3685 KV',
       '76863', '851789', '269276', '72670', '8287', '4430', 'L3 4RS',
       '2296', '2758', '2246-7768', '6144', '13275', '19424', '7221',
       '425464', '71277', '732429', '89-018', '3344', '20609', '744636',
       '4350', '66835', 'd1R 4E2', '5246', '4628', '18037', '0983 VX',
       '97-88', '065836', '77-785', '6580 XR', '30017', '488072',
       '273233', '3054', '776532', '427450', '06-887', '33676', '25753',
       '867306', '01779', '85610-271', 'Z4W 2M7', '462769', '38-056',
       '7972 KG', '55119', '8341-1818', '5459', '63177', '59-971',
       '12737', '551150', '1522', '40617', '7072', '12508', '24-028',
       '68404', '9824-6784', '282669', '74180', '143835', '387876',
       '0885', '11626', '12727-178', '7323', '65424-673', '5799 NY',
       'Y8J 3E0', '51274', '42763', '02653', '17914', '31-566', '82868',
       'I7A 6X7', '922222', 'S8J 5V6', '4434', '875507', '54167',
       '6238-0297', '52W 8A3', '85524', '605151', '1617', '11827',
       '62428', '47803', '540245', '7819', '8481 KH', '60708', '21071',
       '12177', '10114', '26320', '245267', '6479', '3970', '87312',
       '1165 PU', '34486', '3373-5558', '93870', '54255-33164', '874143',
       '536434', '43042', '377428', '817512', '621964', '7572', '30406',
       '70166-53314', '2228', '265237', 'IY6C 1ZY', '54961', '0557',
       '38978', '87406', '50114', '6438-3664', '552771', '431951',
       'K1V 3IR', '2169', '21821', '23628', '765583', '4120', '19411',
       '733991', '30907', '741185', '55204', '440731', '96-15', '16213',
       '26625', '180648', '08-175', '67081', '2883', '2274', '583125',
       '66182-047', '81745', '16995', '76-184', '23012', '3621', '68846',
       '52395', '58254', '8187-7766', '7447', '812346', '20353', '868106',
       '41773', '57418', '552576', '67196-66612', '7615', '6738',
       '9918 DE', '50263', '17-915', '72795', '12122', '886836', '3725',
       '8546', '257126', '183227', '8563', '21354', '4460', '7363'],
      dtype=object)

In [7]:
len(code_postal)

250

In [8]:
df_employes = pd.read_csv("data_employes.csv")

df_employes['id_employee'] = df_employes.index
df_employes['code_postal'] = ''

df_employes['code_postal'] = df_employes['code_postal'].apply(lambda x : code_postal[rd.randint(0, len(code_postal)-1)])
del df_employes['telephone']
del df_employes['email']

df_employes

,nom,adresse,experience,poste,note,id_employee,code_postal
0,Kenneth Snow,Ap #109-9179 Quisque Rd.,4/5/2004,cuisinier,0.0,0,817512
1,Maia Garcia,606 Odio. Ave,3/5/2010,cuisinier,1.0,1,85524
2,Shannon Mooney,"Ap #985-7190 Vulputate, Road",7/9/2020,cuisinier,3.0,2,53782
3,Tatyana Pace,Ap #344-5490 Pellentesque Avenue,26/11/2007,cuisinier,0.0,3,30017
4,Indira Vega,152-5825 Urna Rd.,16/4/2006,cuisinier,9.0,4,70166-53314
...,...,...,...,...,...,...,...
3640,Caldwell Salinas,Ap #252-1766 Mollis St.,10/8/2017,cuisinier,6.0,3640,06-887
3641,Cally Burton,290-9064 Sed Rd.,11/11/2015,cuisinier,5.0,3641,732429
3642,Irma Mccall,Ap #777-9961 Elementum Rd.,4/9/2007,cuisinier,5.0,3642,741185
3643,Charity Humphrey,Ap #234-705 Faucibus Av.,20/12/2008,cuisinier,2.0,3643,76-184
3644,Wanda Sullivan,"P.O. Box 959, 5947 Volutpat. Av.",31/5/2019,cuisinier,7.0,3644,62428

In [9]:
df_employes.count()

nom            3645
adresse        3645
experience     3645
poste          3645
note           3000
id_employee    3645
code_postal    3645
dtype: int64

In [10]:
df_employes.groupby("poste").count()

            nom  adresse  experience  note  id_employee  code_postal
poste
caissier   1000     1000        1000  1000         1000         1000
cuisinier  2000     2000        2000  2000         2000         2000
directeur   245      245         245     0          245          245
manager     400      400         400     0          400          400

## PAYS

In [11]:
list_pays_block = [df_resto["pays"].unique()]
list_pays = df_resto["pays"].unique()

list_pays

array(['United States', 'South Africa', 'Colombia', 'Vietnam', 'Italy',
       'Ireland', 'China', 'France', 'Peru', 'New Zealand', 'Spain',
       'Brazil', 'Australia', 'Austria', 'Pakistan', 'Poland', 'Canada',
       'Costa Rica', 'Mexico', 'Philippines', 'Indonesia', 'Ukraine',
       'Turkey', 'Singapore', 'Nigeria', 'Chile', 'Norway', 'South Korea',
       'United Kingdom', 'Netherlands', 'India', 'Belgium', 'Germany',
       'Russian Federation'], dtype=object)

In [12]:
len(list_pays)

34

In [13]:
df_pays = pd.DataFrame()

for pays in range(len(list_pays_block)):
    df_pays["pays"] = list_pays_block[pays]
    
df_pays

                  pays
0        United States
1         South Africa
2             Colombia
3              Vietnam
4                Italy
5              Ireland
6                China
7               France
8                 Peru
9          New Zealand
10               Spain
11              Brazil
12           Australia
13             Austria
14            Pakistan
15              Poland
16              Canada
17          Costa Rica
18              Mexico
19         Philippines
20           Indonesia
21             Ukraine
22              Turkey
23           Singapore
24             Nigeria
25               Chile
26              Norway
27         South Korea
28      United Kingdom
29         Netherlands
30               India
31             Belgium
32             Germany
33  Russian Federation

## INGRÉDIENTS

Ingrédients pour les plats

In [14]:
df_ingredient_plat = pd.DataFrame({
    "ingredient": ["pain", "steak", "nugguet", "fish", "salade", "tomate", "cornichon", "s_mayo", "s_ketchup", "s_barbecue", "fromage", "sans"], 
    "prix": [0.49, 0.99, 1.19, 1.49, 0.29, 0.29, 0.09, 0.19, 0.19, 0.19, 0.39, 0]
    })

df_ingredient_plat

    ingredient  prix
0         pain  0.49
1        steak  0.99
2      nugguet  1.19
3         fish  1.49
4       salade  0.29
5       tomate  0.29
6    cornichon  0.09
7       s_mayo  0.19
8    s_ketchup  0.19
9   s_barbecue  0.19
10     fromage  0.39
11        sans  0.00

Ingrédients pour les desserts

In [15]:
df_fruit = pd.DataFrame({
    "ingredient": ["banane", "pomme", "orange"], 
    "prix": [0.99, 0.49, 0.49]
    })

df_fruit

  ingredient  prix
0     banane  0.99
1      pomme  0.49
2     orange  0.49

In [16]:
df_glace = pd.DataFrame({
    "ingredient": ["glace_van", "glace_choco", "glace_pist"], 
    "prix": [0.69, 0.99, 0.99]
    })

df_glace

    ingredient  prix
0    glace_van  0.69
1  glace_choco  0.99
2   glace_pist  0.99

In [17]:
df_sauce = pd.DataFrame({
    "ingredient": ["s_choco", "s_caramel", "s_café", "croustille"], 
    "prix": [0.19, 0.19, 0.19, 0.09]
    })

df_sauce

   ingredient  prix
0     s_choco  0.19
1   s_caramel  0.19
2      s_café  0.19
3  croustille  0.09

In [18]:
df_ingredient_dessert = pd.concat([df_fruit, df_glace, df_sauce])

df_ingredient_dessert

    ingredient  prix
0       banane  0.99
1        pomme  0.49
2       orange  0.49
0    glace_van  0.69
1  glace_choco  0.99
2   glace_pist  0.99
0      s_choco  0.19
1    s_caramel  0.19
2       s_café  0.19
3   croustille  0.09

In [19]:
df_ingredient = pd.concat([df_ingredient_plat, df_ingredient_dessert]).set_index("ingredient")

df_ingredient

             prix
ingredient
pain         0.49
steak        0.99
nugguet      1.19
fish         1.49
salade       0.29
tomate       0.29
cornichon    0.09
s_mayo       0.19
s_ketchup    0.19
s_barbecue   0.19
fromage      0.39
sans         0.00
banane       0.99
pomme        0.49
orange       0.49
glace_van    0.69
glace_choco  0.99
glace_pist   0.99
s_choco      0.19
s_caramel    0.19
s_café       0.19
croustille   0.09

## RECETTE

In [20]:
nb_plat = 50
nb_dessert = 50
list_recette = []

for plat in range (nb_plat):
    rd_viande = rd.randint(1,3)
    nb_viande = rd.randint(1,2)
    rd_crudites = rd.randint(4,7)
    if rd_crudites == 7:
        rd_crudites = 11
    rd_sauce = rd.randint(7,10)
    if rd_sauce == 10:
        rd_sauce = 11
    nb_fromage = rd.randint(0,3)

    list_recette.append({
        "nom_item": "Plat n°" + str(plat + 1),
        "ingredients": [df_ingredient_plat.ingredient[0], df_ingredient_plat.ingredient[rd_viande], df_ingredient_plat.ingredient[rd_crudites], df_ingredient_plat.ingredient[rd_sauce], df_ingredient_plat.ingredient[10]],
        "prix": round((df_ingredient_plat.prix[0] + nb_viande * df_ingredient_plat.prix[rd_viande] + df_ingredient_plat.prix[rd_crudites] + df_ingredient_plat.prix[rd_sauce]) + nb_fromage *  df_ingredient_plat.prix[10] + 1.49, 2),
        "type": "plat"
    })
    
for dessert in range (nb_dessert):
    rd_fruit = rd.randint(0, len(df_fruit)-1)
    rd_glace = rd.randint(0, len(df_glace)-1)
    rd_sauce = rd.randint(0, len(df_sauce)-1)
    rd_boule = rd.randint(1, 3)

    list_recette.append({
        "nom_item": "Dessert n°" + str(dessert + 1),
        "ingredients": [df_fruit.ingredient[rd_fruit], df_glace.ingredient[rd_glace], df_sauce.ingredient[rd_sauce], df_sauce.ingredient[3]],
        "prix": round((df_fruit.prix[rd_fruit] + rd_boule * df_glace.prix[rd_glace] + df_sauce.prix[rd_sauce] + df_sauce.prix[3]) + 0.49, 2),
        "type": "dessert"
    })

list_recette

[{'nom_item': 'Plat n°1',
  'ingredients': ['pain', 'nugguet', 'tomate', 's_barbecue', 'fromage'],
  'prix': 5.23,
  'type': 'plat'},
 {'nom_item': 'Plat n°2',
  'ingredients': ['pain', 'fish', 'sans', 's_mayo', 'fromage'],
  'prix': 4.44,
  'type': 'plat'},
 {'nom_item': 'Plat n°3',
  'ingredients': ['pain', 'steak', 'tomate', 'sans', 'fromage'],
  'prix': 4.25,
  'type': 'plat'},
 {'nom_item': 'Plat n°4',
  'ingredients': ['pain', 'nugguet', 'tomate', 's_mayo', 'fromage'],
  'prix': 3.65,
  'type': 'plat'},
 {'nom_item': 'Plat n°5',
  'ingredients': ['pain', 'nugguet', 'sans', 's_mayo', 'fromage'],
  'prix': 4.55,
  'type': 'plat'},
 {'nom_item': 'Plat n°6',
  'ingredients': ['pain', 'fish', 'tomate', 's_barbecue', 'fromage'],
  'prix': 4.34,
  'type': 'plat'},
 {'nom_item': 'Plat n°7',
  'ingredients': ['pain', 'steak', 'tomate', 's_ketchup', 'fromage'],
  'prix': 4.83,
  'type': 'plat'},
 {'nom_item': 'Plat n°8',
  'ingredients': ['pain', 'nugguet', 'cornichon', 's_barbecue', 'fromage'],
  'prix': 4.62,
  'type': 'plat'},
 {'nom_item': 'Plat n°9',
  'ingredients': ['pain', 'fish', 'tomate', 's_barbecue', 'fromage'],
  'prix': 5.12,
  'type': 'plat'},
 {'nom_item': 'Plat n°10',
  'ingredients': ['pain', 'nugguet', 'cornichon', 'sans', 'fromage'],
  'prix': 3.65,
  'type': 'plat'},
 {'nom_item': 'Plat n°11',
  'ingredients': ['pain', 'nugguet', 'salade', 's_barbecue', 'fromage'],
  'prix': 4.84,
  'type': 'plat'},
 {'nom_item': 'Plat n°12',
  'ingredients': ['pain', 'nugguet', 'cornichon', 's_barbecue', 'fromage'],
  'prix': 3.84,
  'type': 'plat'},
 {'nom_item': 'Plat n°13',
  'ingredients': ['pain', 'fish', 'cornichon', 's_mayo', 'fromage'],
  'prix': 4.14,
  'type': 'plat'},
 {'nom_item': 'Plat n°14',
  'ingredients': ['pain', 'steak', 'cornichon', 'sans', 'fromage'],
  'prix': 4.83,
  'type': 'plat'},
 {'nom_item': 'Plat n°15',
  'ingredients': ['pain', 'nugguet', 'sans', 'sans', 'fromage'],
  'prix': 3.56,
  'type': 'plat'},
 {'nom_item': 'Plat n°16',
  'ingredients': ['pain', 'fish', 'sans', 's_ketchup', 'fromage'],
  'prix': 5.54,
  'type': 'plat'},
 {'nom_item': 'Plat n°17',
  'ingredients': ['pain', 'steak', 'cornichon', 's_barbecue', 'fromage'],
  'prix': 4.42,
  'type': 'plat'},
 {'nom_item': 'Plat n°18',
  'ingredients': ['pain', 'fish', 'sans', 's_ketchup', 'fromage'],
  'prix': 3.66,
  'type': 'plat'},
 {'nom_item': 'Plat n°19',
  'ingredients': ['pain', 'nugguet', 'cornichon', 's_mayo', 'fromage'],
  'prix': 3.84,
  'type': 'plat'},
 {'nom_item': 'Plat n°20',
  'ingredients': ['pain', 'fish', 'salade', 's_barbecue', 'fromage'],
  'prix': 5.12,
  'type': 'plat'},
 {'nom_item': 'Plat n°21',
  'ingredients': ['pain', 'nugguet', 'sans', 'sans', 'fromage'],
  'prix': 3.95,
  'type': 'plat'},
 {'nom_item': 'Plat n°22',
  'ingredients': ['pain', 'fish', 'sans', 's_barbecue', 'fromage'],
  'prix': 5.15,
  'type': 'plat'},
 {'nom_item': 'Plat n°23',
  'ingredients': ['pain', 'fish', 'tomate', 's_ketchup', 'fromage'],
  'prix': 6.22,
  'type': 'plat'},
 {'nom_item': 'Plat n°24',
  'ingredients': ['pain', 'nugguet', 'cornichon', 's_barbecue', 'fromage'],
  'prix': 5.03,
  'type': 'plat'},
 {'nom_item': 'Plat n°25',
  'ingredients': ['pain', 'steak', 'cornichon', 's_mayo', 'fromage'],
  'prix': 4.24,
  'type': 'plat'},
 {'nom_item': 'Plat n°26',
  'ingredients': ['pain', 'fish', 'sans', 's_mayo', 'fromage'],
  'prix': 5.93,
  'type': 'plat'},
 {'nom_item': 'Plat n°27',
  'ingredients': ['pain', 'nugguet', 'salade', 's_ketchup', 'fromage'],
  'prix': 6.01,
  'type': 'plat'},
 {'nom_item': 'Plat n°28',
  'ingredients': ['pain', 'steak', 'cornichon', 's_mayo', 'fromage'],
  'prix': 4.42,
  'type': 'plat'},
 {'nom_item': 'Plat n°29',
  'ingredients': ['pain', 'steak', 'salade', 'sans', 'fromage'],
  'prix': 3.26,
  'type': 'plat'},
 {'nom_item': 'Plat n°30',
  'ingredients': ['pain', 'steak', 'cornichon', 's_mayo', 'fromage'],
  'prix': 4.63,
  'type': 'plat'},
 {'nom_item': 'Plat n°31',
  'ingredients': ['pain', 'steak', 'cornichon', 's_ketchup', 'fromage'],
  'prix': 4.63,
  'type': 'plat'},
 {'nom_item': 'Plat n°32',
  'ingredients': ['pain', 'fish', 'cornichon', 's_mayo', 'fromage'],
  'prix': 3.75,
  'type': 'plat'},
 {'nom_item': 'Plat n°33',
  'ingredients': ['pain', 'fish', 'salade', 's_barbecue', 'fromage'],
  'prix': 5.44,
  'type': 'plat'},
 {'nom_item': 'Plat n°34',
  'ingredients': ['pain', 'nugguet', 'tomate', 's_mayo', 'fromage'],
  'prix': 4.82,
  'type': 'plat'},
 {'nom_item': 'Plat n°35',
  'ingredients': ['pain', 'fish', 'sans', 's_ketchup', 'fromage'],
  'prix': 3.66,
  'type': 'plat'},
 {'nom_item': 'Plat n°36',
  'ingredients': ['pain', 'steak', 'salade', 's_mayo', 'fromage'],
  'prix': 4.44,
  'type': 'plat'},
 {'nom_item': 'Plat n°37',
  'ingredients': ['pain', 'nugguet', 'salade', 's_barbecue', 'fromage'],
  'prix': 4.43,
  'type': 'plat'},
 {'nom_item': 'Plat n°38',
  'ingredients': ['pain', 'nugguet', 'sans', 's_mayo', 'fromage'],
  'prix': 4.14,
  'type': 'plat'},
 {'nom_item': 'Plat n°39',
  'ingredients': ['pain', 'nugguet', 'sans', 's_barbecue', 'fromage'],
  'prix': 5.33,
  'type': 'plat'},
 {'nom_item': 'Plat n°40',
  'ingredients': ['pain', 'steak', 'salade', 's_mayo', 'fromage'],
  'prix': 5.61,
  'type': 'plat'},
 {'nom_item': 'Plat n°41',
  'ingredients': ['pain', 'steak', 'sans', 's_ketchup', 'fromage'],
  'prix': 4.33,
  'type': 'plat'},
 {'nom_item': 'Plat n°42',
  'ingredients': ['pain', 'steak', 'salade', 's_ketchup', 'fromage'],
  'prix': 4.62,
  'type': 'plat'},
 {'nom_item': 'Plat n°43',
  'ingredients': ['pain', 'nugguet', 'cornichon', 's_mayo', 'fromage'],
  'prix': 3.84,
  'type': 'plat'},
 {'nom_item': 'Plat n°44',
  'ingredients': ['pain', 'steak', 'tomate', 's_ketchup', 'fromage'],
  'prix': 4.23,
  'type': 'plat'},
 {'nom_item': 'Plat n°45',
  'ingredients': ['pain', 'steak', 'cornichon', 's_barbecue', 'fromage'],
  'prix': 4.42,
  'type': 'plat'},
 {'nom_item': 'Plat n°46',
  'ingredients': ['pain', 'steak', 'salade', 's_ketchup', 'fromage'],
  'prix': 4.83,
  'type': 'plat'},
 {'nom_item': 'Plat n°47',
  'ingredients': ['pain', 'nugguet', 'salade', 's_mayo', 'fromage'],
  'prix': 3.65,
  'type': 'plat'},
 {'nom_item': 'Plat n°48',
  'ingredients': ['pain', 'fish', 'salade', 'sans', 'fromage'],
  'prix': 4.93,
  'type': 'plat'},
 {'nom_item': 'Plat n°49',
  'ingredients': ['pain', 'steak', 'sans', 'sans', 'fromage'],
  'prix': 4.74,
  'type': 'plat'},
 {'nom_item': 'Plat n°50',
  'ingredients': ['pain', 'steak', 'sans', 's_ketchup', 'fromage'],
  'prix': 3.55,
  'type': 'plat'},
 {'nom_item': 'Dessert n°1',
  'ingredients': ['banane', 'glace_van', 's_caramel', 'croustille'],
  'prix': 2.45,
  'type': 'dessert'},
 {'nom_item': 'Dessert n°2',
  'ingredients': ['orange', 'glace_choco', 's_café', 'croustille'],
  'prix': 2.25,
  'type': 'dessert'},
 {'nom_item': 'Dessert n°3',
  'ingredients': ['banane', 'glace_choco', 's_choco', 'croustille'],
  'prix': 4.73,
  'type': 'dessert'},
 {'nom_item': 'Dessert n°4',
  'ingredients': ['orange', 'glace_choco', 's_choco', 'croustille'],
  'prix': 3.24,
  'type': 'dessert'},
 {'nom_item': 'Dessert n°5',
  'ingredients': ['orange', 'glace_van', 'croustille', 'croustille'],
  'prix': 1.85,
  'type': 'dessert'},
 {'nom_item': 'Dessert n°6',
  'ingredients': ['banane', 'glace_choco', 'croustille', 'croustille'],
  'prix': 3.64,
  'type': 'dessert'},
 {'nom_item': 'Dessert n°7',
  'ingredients': ['orange', 'glace_pist', 's_caramel', 'croustille'],
  'prix': 2.25,
  'type': 'dessert'},
 {'nom_item': 'Dessert n°8',
  'ingredients': ['pomme', 'glace_van', 's_choco', 'croustille'],
  'prix': 3.33,
  'type': 'dessert'},
 {'nom_item': 'Dessert n°9',
  'ingredients': ['pomme', 'glace_van', 'croustille', 'croustille'],
  'prix': 2.54,
  'type': 'dessert'},
 {'nom_item': 'Dessert n°10',
  'ingredients': ['pomme', 'glace_pist', 'croustille', 'croustille'],
  'prix': 3.14,
  'type': 'dessert'},
 {'nom_item': 'Dessert n°11',
  'ingredients': ['banane', 'glace_choco', 's_caramel', 'croustille'],
  'prix': 2.75,
  'type': 'dessert'},
 {'nom_item': 'Dessert n°12',
  'ingredients': ['orange', 'glace_van', 's_caramel', 'croustille'],
  'prix': 1.95,
  'type': 'dessert'},
 {'nom_item': 'Dessert n°13',
  'ingredients': ['pomme', 'glace_pist', 's_caramel', 'croustille'],
  'prix': 4.23,
  'type': 'dessert'},
 {'nom_item': 'Dessert n°14',
  'ingredients': ['pomme', 'glace_van', 's_choco', 'croustille'],
  'prix': 2.64,
  'type': 'dessert'},
 {'nom_item': 'Dessert n°15',
  'ingredients': ['pomme', 'glace_pist', 'croustille', 'croustille'],
  'prix': 2.15,
  'type': 'dessert'},
 {'nom_item': 'Dessert n°16',
  'ingredients': ['pomme', 'glace_van', 's_choco', 'croustille'],
  'prix': 1.95,
  'type': 'dessert'},
 {'nom_item': 'Dessert n°17',
  'ingredients': ['pomme', 'glace_van', 's_caramel', 'croustille'],
  'prix': 2.64,
  'type': 'dessert'},
 {'nom_item': 'Dessert n°18',
  'ingredients': ['orange', 'glace_pist', 's_café', 'croustille'],
  'prix': 3.24,
  'type': 'dessert'},
 {'nom_item': 'Dessert n°19',
  'ingredients': ['pomme', 'glace_van', 'croustille', 'croustille'],
  'prix': 1.85,
  'type': 'dessert'},
 {'nom_item': 'Dessert n°20',
  'ingredients': ['orange', 'glace_pist', 's_café', 'croustille'],
  'prix': 4.23,
  'type': 'dessert'},
 {'nom_item': 'Dessert n°21',
  'ingredients': ['banane', 'glace_van', 's_choco', 'croustille'],
  'prix': 3.14,
  'type': 'dessert'},
 {'nom_item': 'Dessert n°22',
  'ingredients': ['orange', 'glace_pist', 's_choco', 'croustille'],
  'prix': 4.23,
  'type': 'dessert'},
 {'nom_item': 'Dessert n°23',
  'ingredients': ['pomme', 'glace_van', 's_caramel', 'croustille'],
  'prix': 2.64,
  'type': 'dessert'},
 {'nom_item': 'Dessert n°24',
  'ingredients': ['pomme', 'glace_van', 's_café', 'croustille'],
  'prix': 2.64,
  'type': 'dessert'},
 {'nom_item': 'Dessert n°25',
  'ingredients': ['pomme', 'glace_choco', 's_caramel', 'croustille'],
  'prix': 3.24,
  'type': 'dessert'},
 {'nom_item': 'Dessert n°26',
  'ingredients': ['orange', 'glace_pist', 's_choco', 'croustille'],
  'prix': 2.25,
  'type': 'dessert'},
 {'nom_item': 'Dessert n°27',
  'ingredients': ['orange', 'glace_choco', 'croustille', 'croustille'],
  'prix': 3.14,
  'type': 'dessert'},
 {'nom_item': 'Dessert n°28',
  'ingredients': ['banane', 'glace_choco', 'croustille', 'croustille'],
  'prix': 2.65,
  'type': 'dessert'},
 {'nom_item': 'Dessert n°29',
  'ingredients': ['orange', 'glace_choco', 's_choco', 'croustille'],
  'prix': 4.23,
  'type': 'dessert'},
 {'nom_item': 'Dessert n°30',
  'ingredients': ['pomme', 'glace_van', 's_café', 'croustille'],
  'prix': 2.64,
  'type': 'dessert'},
 {'nom_item': 'Dessert n°31',
  'ingredients': ['banane', 'glace_pist', 'croustille', 'croustille'],
  'prix': 3.64,
  'type': 'dessert'},
 {'nom_item': 'Dessert n°32',
  'ingredients': ['pomme', 'glace_choco', 's_caramel', 'croustille'],
  'prix': 4.23,
  'type': 'dessert'},
 {'nom_item': 'Dessert n°33',
  'ingredients': ['banane', 'glace_choco', 's_choco', 'croustille'],
  'prix': 4.73,
  'type': 'dessert'},
 {'nom_item': 'Dessert n°34',
  'ingredients': ['pomme', 'glace_choco', 's_caramel', 'croustille'],
  'prix': 2.25,
  'type': 'dessert'},
 {'nom_item': 'Dessert n°35',
  'ingredients': ['banane', 'glace_van', 'croustille', 'croustille'],
  'prix': 3.73,
  'type': 'dessert'},
 {'nom_item': 'Dessert n°36',
  'ingredients': ['pomme', 'glace_van', 's_caramel', 'croustille'],
  'prix': 2.64,
  'type': 'dessert'},
 {'nom_item': 'Dessert n°37',
  'ingredients': ['banane', 'glace_choco', 's_café', 'croustille'],
  'prix': 3.74,
  'type': 'dessert'},
 {'nom_item': 'Dessert n°38',
  'ingredients': ['pomme', 'glace_pist', 'croustille', 'croustille'],
  'prix': 2.15,
  'type': 'dessert'},
 {'nom_item': 'Dessert n°39',
  'ingredients': ['orange', 'glace_van', 's_caramel', 'croustille'],
  'prix': 3.33,
  'type': 'dessert'},
 {'nom_item': 'Dessert n°40',
  'ingredients': ['pomme', 'glace_pist', 's_caramel', 'croustille'],
  'prix': 2.25,
  'type': 'dessert'},
 {'nom_item': 'Dessert n°41',
  'ingredients': ['banane', 'glace_van', 'croustille', 'croustille'],
  'prix': 3.73,
  'type': 'dessert'},
 {'nom_item': 'Dessert n°42',
  'ingredients': ['orange', 'glace_pist', 's_café', 'croustille'],
  'prix': 4.23,
  'type': 'dessert'},
 {'nom_item': 'Dessert n°43',
  'ingredients': ['orange', 'glace_pist', 'croustille', 'croustille'],
  'prix': 3.14,
  'type': 'dessert'},
 {'nom_item': 'Dessert n°44',
  'ingredients': ['pomme', 'glace_choco', 's_choco', 'croustille'],
  'prix': 2.25,
  'type': 'dessert'},
 {'nom_item': 'Dessert n°45',
  'ingredients': ['banane', 'glace_pist', 'croustille', 'croustille'],
  'prix': 3.64,
  'type': 'dessert'},
 {'nom_item': 'Dessert n°46',
  'ingredients': ['orange', 'glace_choco', 'croustille', 'croustille'],
  'prix': 4.13,
  'type': 'dessert'},
 {'nom_item': 'Dessert n°47',
  'ingredients': ['banane', 'glace_choco', 'croustille', 'croustille'],
  'prix': 2.65,
  'type': 'dessert'},
 {'nom_item': 'Dessert n°48',
  'ingredients': ['orange', 'glace_choco', 's_choco', 'croustille'],
  'prix': 3.24,
  'type': 'dessert'},
 {'nom_item': 'Dessert n°49',
  'ingredients': ['pomme', 'glace_pist', 's_café', 'croustille'],
  'prix': 2.25,
  'type': 'dessert'},
 {'nom_item': 'Dessert n°50',
  'ingredients': ['banane', 'glace_choco', 's_café', 'croustille'],
  'prix': 2.75,
  'type': 'dessert'}]

In [21]:
df_boisson = pd.DataFrame({
    "nom_item": ["coca_p", "coca_zero_p", "fanta_orange_p", "fanta_citron_p", "sprite_p", "vittel_p", "san_pellegrino_p", "jus_orange_p", "jus_pomme_p", "heinneken_p", 
    "coca_zero_m", "fanta_orange_m", "fanta_citron_m", "sprite_m", "vittel_m", "san_pellegrino_m", "jus_orange_m", "jus_pomme_m", "heinneken_m",
    "coca_g", "coca_zero_g", "fanta_orange_g", "fanta_citron_g", "sprite_g", "vittel_g", "san_pellegrino_g", "jus_orange_g", "jus_pomme_g", "heinneken_g"
    ],
    "prix": [1.49, 0.99, 1.49, 1.49, 0.99, 0.99, 1.49, 1.99, 1.99, 2.99,
    0.99*1.25, 1.49*1.25, 1.49*1.25, 0.99*1.25, 0.99*1.25, 1.49*1.25, 1.99*1.25, 1.99*1.25, 2.99*1.25,
    1.49*1.5, 0.99*1.5, 1.49*1.5, 1.49*1.5, 0.99*1.5, 0.99*1.5, 1.49*1.5, 1.99*1.5, 1.99*1.5, 2.99*1.5
    ],
    "type" : "boisson"
    })

df_boisson["prix"] = round(df_boisson["prix"], 2)

df_boisson

            nom_item  prix     type
0             coca_p  1.49  boisson
1        coca_zero_p  0.99  boisson
2     fanta_orange_p  1.49  boisson
3     fanta_citron_p  1.49  boisson
4           sprite_p  0.99  boisson
5           vittel_p  0.99  boisson
6   san_pellegrino_p  1.49  boisson
7       jus_orange_p  1.99  boisson
8        jus_pomme_p  1.99  boisson
9        heinneken_p  2.99  boisson
10       coca_zero_m  1.24  boisson
11    fanta_orange_m  1.86  boisson
12    fanta_citron_m  1.86  boisson
13          sprite_m  1.24  boisson
14          vittel_m  1.24  boisson
15  san_pellegrino_m  1.86  boisson
16      jus_orange_m  2.49  boisson
17       jus_pomme_m  2.49  boisson
18       heinneken_m  3.74  boisson
19            coca_g  2.24  boisson
20       coca_zero_g  1.48  boisson
21    fanta_orange_g  2.24  boisson
22    fanta_citron_g  2.24  boisson
23          sprite_g  1.48  boisson
24          vittel_g  1.48  boisson
25  san_pellegrino_g  2.24  boisson
26      jus_orange_g  2.98  boisson
27       jus_pomme_g  2.98  boisson
28       heinneken_g  4.49  boisson

In [22]:
len(df_ingredient)

22

In [23]:
list_stock = []
for i in range (len(df_ingredient)):
    list_stock.append(rd.randint(50,500))

list_stock

[97,
 495,
 383,
 360,
 96,
 497,
 226,
 404,
 67,
 477,
 96,
 401,
 458,
 284,
 447,
 98,
 54,
 249,
 236,
 198,
 221,
 381]

In [24]:
df_stock = df_ingredient.copy()
del df_stock['prix']

df_stock['code_postal'] = ''
df_stock['code_postal'] = df_stock['code_postal'].apply(lambda x : code_postal[rd.randint(0, len(code_postal)-1)])

df_stock['quantité'] = ''
df_stock['quantité'] = df_stock['quantité'].apply(lambda x : list_stock[rd.randint(0, len(list_stock)-1)])

df_stock

            code_postal  quantité
ingredient
pain             886836       404
steak              2296       236
nugguet           72795        97
fish              38978       381
salade            51274        97
tomate            12737       236
cornichon          8546        67
s_mayo           183227       447
s_ketchup         25874       383
s_barbecue        12177        96
fromage           27451       226
sans              23628        54
banane            02653       497
pomme              3004       401
orange        65424-673       447
glace_van        868106       284
glace_choco      L3 4RS        96
glace_pist         7323       249
s_choco            2758        96
s_caramel         50211       381
s_café            21821        67
croustille       77-785        54

In [25]:
df_stock.quantité.sans = 0

/tmp/ipykernel_34477/665923811.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_stock.quantité.sans = 0

In [26]:
df_stock

            code_postal  quantité
ingredient
pain             886836       404
steak              2296       236
nugguet           72795        97
fish              38978       381
salade            51274        97
tomate            12737       236
cornichon          8546        67
s_mayo           183227       447
s_ketchup         25874       383
s_barbecue        12177        96
fromage           27451       226
sans              23628         0
banane            02653       497
pomme              3004       401
orange        65424-673       447
glace_van        868106       284
glace_choco      L3 4RS        96
glace_pist         7323       249
s_choco            2758        96
s_caramel         50211       381
s_café            21821        67
croustille       77-785        54

In [27]:
df_stock.quantité['pain']

404

In [28]:
df_recette = pd.DataFrame()


for recette in list_recette:
    # print(recette["name"])
    for ingredient in recette["ingredients"]:
        df = pd.DataFrame({
            "nom_item": [recette["nom_item"]], 
            "ingredient": [ingredient],
            "quantité": df_stock.quantité[ingredient]
            })
        df_recette = pd.concat([df_recette, df])

        # print(ingredient)
        # df_recette.append(df)

df_recette

        nom_item   ingredient  quantité
0       Plat n°1         pain       404
0       Plat n°1      nugguet        97
0       Plat n°1       tomate       236
0       Plat n°1   s_barbecue        96
0       Plat n°1      fromage       226
..           ...          ...       ...
0   Dessert n°49   croustille        54
0   Dessert n°50       banane       497
0   Dessert n°50  glace_choco        96
0   Dessert n°50       s_café        67
0   Dessert n°50   croustille        54

[450 rows x 3 columns]

## ITEM

In [29]:
df_item = pd.DataFrame(list_recette)
del df_item["ingredients"]

df_item

        nom_item  prix     type
0       Plat n°1  5.23     plat
1       Plat n°2  4.44     plat
2       Plat n°3  4.25     plat
3       Plat n°4  3.65     plat
4       Plat n°5  4.55     plat
..           ...   ...      ...
95  Dessert n°46  4.13  dessert
96  Dessert n°47  2.65  dessert
97  Dessert n°48  3.24  dessert
98  Dessert n°49  2.25  dessert
99  Dessert n°50  2.75  dessert

[100 rows x 3 columns]

In [30]:
df_item = pd.concat([df_item, df_boisson])

df_item

            nom_item  prix     type
0           Plat n°1  5.23     plat
1           Plat n°2  4.44     plat
2           Plat n°3  4.25     plat
3           Plat n°4  3.65     plat
4           Plat n°5  4.55     plat
..               ...   ...      ...
24          vittel_g  1.48  boisson
25  san_pellegrino_g  2.24  boisson
26      jus_orange_g  2.98  boisson
27       jus_pomme_g  2.98  boisson
28       heinneken_g  4.49  boisson

[129 rows x 3 columns]

## Récapitulatif

In [31]:
df_resto

,code_postal,pays,capacite,espace_enfant,service_rapide,parking,accessibilite
0,24-13,United States,247,0,0,0,1
1,G27 7HT,South Africa,96,1,1,0,0
2,7443 YD,Colombia,68,1,0,1,1
3,93956-418,Vietnam,181,0,0,1,1
4,977145,Italy,75,0,0,0,0
...,...,...,...,...,...,...,...
245,183227,Turkey,126,0,1,1,0
246,8563,Germany,135,1,1,1,1
247,21354,Italy,63,0,0,0,0
248,4460,Pakistan,135,1,0,1,1
249,7363,Peru,198,1,1,1,1

In [32]:
df_resto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   code_postal     250 non-null    object
 1   pays            250 non-null    object
 2   capacite        250 non-null    int64
 3   espace_enfant   250 non-null    int64
 4   service_rapide  250 non-null    int64
 5   parking         250 non-null    int64
 6   accessibilite   250 non-null    int64
dtypes: int64(5), object(2)
memory usage: 13.8+ KB

In [33]:
df_resto.to_sql(name='Restaurant', con=engine, if_exists = 'append', index=False)

2022-12-08 13:44:40,438 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Restaurant")
2022-12-08 13:44:40,439 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-08 13:44:40,441 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-08 13:44:40,444 INFO sqlalchemy.engine.Engine INSERT INTO "Restaurant" (code_postal, pays, capacite, espace_enfant, service_rapide, parking, accessibilite) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-08 13:44:40,445 INFO sqlalchemy.engine.Engine [generated in 0.00170s] (('24-13', 'United States', 247, 0, 0, 0, 1), ('G27 7HT', 'South Africa', 96, 1, 1, 0, 0), ('7443 YD', 'Colombia', 68, 1, 0, 1, 1), ('93956-418', 'Vietnam', 181, 0, 0, 1, 1), ('977145', 'Italy', 75, 0, 0, 0, 0), ('29552', 'Ireland', 134, 1, 1, 1, 1), ('45331', 'China', 82, 1, 0, 1, 0), ('18345', 'France', 128, 1, 0, 0, 1)  ... displaying 10 of 250 total bound parameter sets ...  ('4460', 'Pakistan', 135, 1, 0, 1, 1), ('7363', 'Peru', 198, 1, 1, 1, 1))
2022-12-08 13:44:40,447 INFO sqlalchemy.engine.Engine COMMIT
2022-12-08 13:44:40,453 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-12-08 13:44:40,454 INFO sqlalchemy.engine.Engine [raw sql] ()

250

In [34]:
df_employes

,nom,adresse,experience,poste,note,id_employee,code_postal
0,Kenneth Snow,Ap #109-9179 Quisque Rd.,4/5/2004,cuisinier,0.0,0,817512
1,Maia Garcia,606 Odio. Ave,3/5/2010,cuisinier,1.0,1,85524
2,Shannon Mooney,"Ap #985-7190 Vulputate, Road",7/9/2020,cuisinier,3.0,2,53782
3,Tatyana Pace,Ap #344-5490 Pellentesque Avenue,26/11/2007,cuisinier,0.0,3,30017
4,Indira Vega,152-5825 Urna Rd.,16/4/2006,cuisinier,9.0,4,70166-53314
...,...,...,...,...,...,...,...
3640,Caldwell Salinas,Ap #252-1766 Mollis St.,10/8/2017,cuisinier,6.0,3640,06-887
3641,Cally Burton,290-9064 Sed Rd.,11/11/2015,cuisinier,5.0,3641,732429
3642,Irma Mccall,Ap #777-9961 Elementum Rd.,4/9/2007,cuisinier,5.0,3642,741185
3643,Charity Humphrey,Ap #234-705 Faucibus Av.,20/12/2008,cuisinier,2.0,3643,76-184
3644,Wanda Sullivan,"P.O. Box 959, 5947 Volutpat. Av.",31/5/2019,cuisinier,7.0,3644,62428

In [35]:
df_employes.to_sql(name='Employee', con=engine, if_exists = 'append', index=False)

2022-12-08 13:44:40,601 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Employee")
2022-12-08 13:44:40,602 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-08 13:44:40,606 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-08 13:44:40,624 INFO sqlalchemy.engine.Engine INSERT INTO "Employee" (nom, adresse, experience, poste, note, id_employee, code_postal) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-08 13:44:40,624 INFO sqlalchemy.engine.Engine [generated in 0.01279s] (('Kenneth Snow', 'Ap #109-9179 Quisque Rd.', '4/5/2004', 'cuisinier', 0.0, 0, '817512'), ('Maia Garcia', '606 Odio. Ave', '3/5/2010', 'cuisinier', 1.0, 1, '85524'), ('Shannon Mooney', 'Ap #985-7190 Vulputate, Road', '7/9/2020', 'cuisinier', 3.0, 2, '53782'), ('Tatyana Pace', 'Ap #344-5490 Pellentesque Avenue', '26/11/2007', 'cuisinier', 0.0, 3, '30017'), ('Indira Vega', '152-5825 Urna Rd.', '16/4/2006', 'cuisinier', 9.0, 4, '70166-53314'), ('Quinn Murphy', '133 Sit St.', '2/2/2001', 'cuisinier', 5.0, 5, '3725'), ('Montana Craig', '5356 Auctor. Rd.', '26/9/2016', 'cuisinier', 4.0, 6, '3373-5558'), ('Sonya Reeves', 'P.O. Box 552, 214 Feugiat St.', '21/4/2018', 'cuisinier', 1.0, 7, '67081')  ... displaying 10 of 3645 total bound parameter sets ...  ('Charity Humphrey', 'Ap #234-705 Faucibus Av.', '20/12/2008', 'cuisinier', 2.0, 3643, '76-184'), ('Wanda Sullivan', 'P.O. Box 959, 5947 Volutpat. Av.', '31/5/2019', 'cuisinier', 7.0, 3644, '62428'))
2022-12-08 13:44:40,631 INFO sqlalchemy.engine.Engine COMMIT
2022-12-08 13:44:40,638 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-12-08 13:44:40,639 INFO sqlalchemy.engine.Engine [raw sql] ()

3645

In [36]:
df_pays

                  pays
0        United States
1         South Africa
2             Colombia
3              Vietnam
4                Italy
5              Ireland
6                China
7               France
8                 Peru
9          New Zealand
10               Spain
11              Brazil
12           Australia
13             Austria
14            Pakistan
15              Poland
16              Canada
17          Costa Rica
18              Mexico
19         Philippines
20           Indonesia
21             Ukraine
22              Turkey
23           Singapore
24             Nigeria
25               Chile
26              Norway
27         South Korea
28      United Kingdom
29         Netherlands
30               India
31             Belgium
32             Germany
33  Russian Federation

In [37]:
df_pays.to_sql(name='Pays', con=engine, if_exists = 'append', index=False)

2022-12-08 13:44:40,769 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Pays")
2022-12-08 13:44:40,770 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-08 13:44:40,772 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-08 13:44:40,774 INFO sqlalchemy.engine.Engine INSERT INTO "Pays" (pays) VALUES (?)
2022-12-08 13:44:40,774 INFO sqlalchemy.engine.Engine [generated in 0.00069s] (('United States',), ('South Africa',), ('Colombia',), ('Vietnam',), ('Italy',), ('Ireland',), ('China',), ('France',)  ... displaying 10 of 34 total bound parameter sets ...  ('Germany',), ('Russian Federation',))
2022-12-08 13:44:40,776 INFO sqlalchemy.engine.Engine COMMIT
2022-12-08 13:44:40,779 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-12-08 13:44:40,780 INFO sqlalchemy.engine.Engine [raw sql] ()

34

In [38]:
df_ingredient = df_ingredient.reset_index()

df_ingredient

     ingredient  prix
0          pain  0.49
1         steak  0.99
2       nugguet  1.19
3          fish  1.49
4        salade  0.29
5        tomate  0.29
6     cornichon  0.09
7        s_mayo  0.19
8     s_ketchup  0.19
9    s_barbecue  0.19
10      fromage  0.39
11         sans  0.00
12       banane  0.99
13        pomme  0.49
14       orange  0.49
15    glace_van  0.69
16  glace_choco  0.99
17   glace_pist  0.99
18      s_choco  0.19
19    s_caramel  0.19
20       s_café  0.19
21   croustille  0.09

In [39]:
df_ingredient.to_sql(name='Ingredient', con=engine, if_exists = 'append', index=False)

2022-12-08 13:44:40,936 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Ingredient")
2022-12-08 13:44:40,937 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-08 13:44:40,938 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-08 13:44:40,940 INFO sqlalchemy.engine.Engine INSERT INTO "Ingredient" (ingredient, prix) VALUES (?, ?)
2022-12-08 13:44:40,941 INFO sqlalchemy.engine.Engine [generated in 0.00104s] (('pain', 0.49), ('steak', 0.99), ('nugguet', 1.19), ('fish', 1.49), ('salade', 0.29), ('tomate', 0.29), ('cornichon', 0.09), ('s_mayo', 0.19)  ... displaying 10 of 22 total bound parameter sets ...  ('s_café', 0.19), ('croustille', 0.09))
2022-12-08 13:44:40,942 INFO sqlalchemy.engine.Engine COMMIT
2022-12-08 13:44:40,946 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-12-08 13:44:40,947 INFO sqlalchemy.engine.Engine [raw sql] ()

22

In [40]:
df_item

            nom_item  prix     type
0           Plat n°1  5.23     plat
1           Plat n°2  4.44     plat
2           Plat n°3  4.25     plat
3           Plat n°4  3.65     plat
4           Plat n°5  4.55     plat
..               ...   ...      ...
24          vittel_g  1.48  boisson
25  san_pellegrino_g  2.24  boisson
26      jus_orange_g  2.98  boisson
27       jus_pomme_g  2.98  boisson
28       heinneken_g  4.49  boisson

[129 rows x 3 columns]

In [41]:
df_item.to_sql(name='Item', con=engine, if_exists = 'append', index=False)

2022-12-08 13:44:41,100 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Item")
2022-12-08 13:44:41,101 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-08 13:44:41,103 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-08 13:44:41,105 INFO sqlalchemy.engine.Engine INSERT INTO "Item" (nom_item, prix, type) VALUES (?, ?, ?)
2022-12-08 13:44:41,105 INFO sqlalchemy.engine.Engine [generated in 0.00104s] (('Plat n°1', 5.23, 'plat'), ('Plat n°2', 4.44, 'plat'), ('Plat n°3', 4.25, 'plat'), ('Plat n°4', 3.65, 'plat'), ('Plat n°5', 4.55, 'plat'), ('Plat n°6', 4.34, 'plat'), ('Plat n°7', 4.83, 'plat'), ('Plat n°8', 4.62, 'plat')  ... displaying 10 of 129 total bound parameter sets ...  ('jus_pomme_g', 2.98, 'boisson'), ('heinneken_g', 4.49, 'boisson'))
2022-12-08 13:44:41,107 INFO sqlalchemy.engine.Engine COMMIT
2022-12-08 13:44:41,113 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-12-08 13:44:41,113 INFO sqlalchemy.engine.Engine [raw sql] ()

129

In [42]:
df_stock = df_stock.reset_index()

df_stock.sort_values(by="code_postal")

     ingredient code_postal  quantité
12       banane       02653       497
9    s_barbecue       12177        96
5        tomate       12737       236
7        s_mayo      183227       447
20       s_café       21821        67
1         steak        2296       236
11         sans       23628         0
8     s_ketchup       25874       383
10      fromage       27451       226
18      s_choco        2758        96
13        pomme        3004       401
3          fish       38978       381
19    s_caramel       50211       381
4        salade       51274        97
14       orange   65424-673       447
2       nugguet       72795        97
17   glace_pist        7323       249
21   croustille      77-785        54
6     cornichon        8546        67
15    glace_van      868106       284
0          pain      886836       404
16  glace_choco      L3 4RS        96

In [43]:
df_stock.to_sql(name='Stock', con=engine, if_exists = 'append', index=False)

2022-12-08 13:44:41,268 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Stock")
2022-12-08 13:44:41,269 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-08 13:44:41,270 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-08 13:44:41,272 INFO sqlalchemy.engine.Engine INSERT INTO "Stock" (ingredient, code_postal, "quantité") VALUES (?, ?, ?)
2022-12-08 13:44:41,272 INFO sqlalchemy.engine.Engine [generated in 0.00096s] (('pain', '886836', 404), ('steak', '2296', 236), ('nugguet', '72795', 97), ('fish', '38978', 381), ('salade', '51274', 97), ('tomate', '12737', 236), ('cornichon', '8546', 67), ('s_mayo', '183227', 447)  ... displaying 10 of 22 total bound parameter sets ...  ('s_café', '21821', 67), ('croustille', '77-785', 54))
2022-12-08 13:44:41,274 INFO sqlalchemy.engine.Engine COMMIT
2022-12-08 13:44:41,278 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-12-08 13:44:41,279 INFO sqlalchemy.engine.Engine [raw sql] ()

22

In [44]:
df_recette

        nom_item   ingredient  quantité
0       Plat n°1         pain       404
0       Plat n°1      nugguet        97
0       Plat n°1       tomate       236
0       Plat n°1   s_barbecue        96
0       Plat n°1      fromage       226
..           ...          ...       ...
0   Dessert n°49   croustille        54
0   Dessert n°50       banane       497
0   Dessert n°50  glace_choco        96
0   Dessert n°50       s_café        67
0   Dessert n°50   croustille        54

[450 rows x 3 columns]

In [45]:
# with engine.begin() as conn:
#     conn.execute(
#         metada.tables['Recette'].insert().value(

#         )
#     )

In [46]:
#df_recette.to_sql(name='Recette', con=engine, if_exists = 'append', index=False)